*~
*.o
*.d
*.a
*.da
*.bb
*.bbg
*.prof
/autom4te.cache
/config.log
/config.status
/dbclient
/dropbear
/dropbearconvert
/dropbearkey
/dropbearmulti
/scp
/scp-progress
Makefile
/config-raw.h
/config-raw.h.in
/localoptions.h
configure
